@using (Html.BeginForm("Create", "Bike"))
{<div class="form-control">
    <div style="font-weight:bolder">BikeName</div> 
    @Html.TextBox("BikeName")
    <br />
    
    <input type="submit" value="Save" class="btn btn-success" style="margin-top:1%" />
</div>
}
